# Dependencies
node_modules/
package-lock.json
.pnp
.pnp.js

# Production
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Firebase
.firebase/
firebase-debug.log